.wrap {
    display: contents;
}

.profile-masthead self{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font-size: 100%;
    vertical-align: baseline;
}

.profile-simple-masthead .masthead-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.profile-simple-masthead {
    position: relative;
    padding: 28px 0 0;
}

.container-large {
    padding-right: 72px;
    padding-left: 72px;
}

body .profile-simple-masthead .masthead-avatar {
    max-width: 120px;
}

@media (min-width: 768px) {
    .profile-simple-masthead .masthead-avatar {
        width: 120px;
        height: 120px;
    }
}

.profile-simple-masthead .masthead-avatar {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 84px;
    height: 84px;
    margin-bottom: 32px;
    overflow: hidden;
    border-radius: 50%;
    background: #e7e7e9;
}