.banner {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    text-wrap: wrap;
}

.banner-content {
    position: relative;
    font-size: calc(0.3em + 1vw);
    margin: 120px 120px;
    max-width: 30%;
    max-height: 400px;
    z-index: 2;
}

.banner-content .banner-description {
    text-align: justify;
    max-height: 120px;
    position: relative;
}

.banner-link {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.banner::after {
    content: '';
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    filter: blur(50px);
}

/* Media Queries */
@media (max-width: 1200px) {
    .banner-content {
        font-size: calc(1em + 0.8vw);
    }
}

@media (max-width: 992px) {
    .banner {
        height: 60vh; /* Adjust height for smaller screens */
    }
    .banner-content {
        font-size: calc(1em + 0.6vw);
    }
}

@media (max-width: 768px) {
    .banner-content {
        font-size: calc(1em + 0.4vw);
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .banner-content {
        font-size: calc(1em + 0.2vw);
        max-width: 95%;
    }
}