.banner {
    width: 100vw;
    /* height: 100vh; Adjust height as necessary */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    background-image: var(--white);
}

.banner-content {
    font-size: calc(0.5em + 1vw); /* Responsive font size */
    max-width: 80%; /* Adjust maximum width */
    margin: auto;
    max-width: 30%; /* Set the maximum width of the content */
    z-index: 2;
}

.banner-content .banner-description{
    text-align: justify;
}

.banner-link {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.banner::after {
    content: '';
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    filter: blur(50px);
}

/* Media Queries */
@media (max-width: 1200px) {
    .banner-content {
        font-size: calc(1em + 0.8vw);
    }
}

@media (max-width: 992px) {
    .banner {
        height: 60vh; /* Adjust height for smaller screens */
    }
    .banner-content {
        font-size: calc(1em + 0.6vw);
    }
}

@media (max-width: 768px) {
    .banner-content {
        font-size: calc(1em + 0.4vw);
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .banner-content {
        font-size: calc(1em + 0.2vw);
        max-width: 95%;
    }
}