/*Footer*/
.footer {
  background: transparent;
  font-size: 14px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}

.footer .footer-top {
  background: #000;
  background-size: contain;
  border-top: 1px solid var(--primary);
  /* border-bottom: 1px solid var(--primary); */
  padding: 30px 0 0 0;
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
  max-width: 30%;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 40px;
  color: #fff;
}

.footer .footer-top .social-links a {
  font-size: 1.5rem;
  display: inline-block;
  color: #fff;
  line-height: 0;
  margin-right: 15px;
  transition: 0.3s;
  text-decoration: none;
}

.footer .footer-top .social-links a:hover {
  color: var(--primary);
}

.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top h4::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: var(--primary);
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

.footer .footer-top .footer-contact p {
  line-height: 26px;
  color: #fff;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}


.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul ion-icon {
  padding-right: 2px;
  color: #fff;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-top .footer-links ul li {
  padding: 3px 0;
  display: block;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  color: var(--primary);
}

.footer .footer-top .container .row {
  align-items: top;
  display: flex;
  justify-content: space-between;
}