/* Header.css */
.header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  transition: 0.5s;
  z-index: 10000;
  text-shadow: 0 0 5px #000000, 0 0 5px #000000;
}

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid var(--primary);
  border-image: linear-gradient(90deg, transparent, var(--primary), transparent) 30;
  backdrop-filter: blur(20px);
  padding: 10px 100px;
}

/*logo*/
.logo {
  font-family: 'Racing Sans One', sans-serif;
  font-size: 35px;
  color: var(--white);
  letter-spacing: 2px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    color: inherit;
}
/*nav*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav li {
  list-style: none;
  margin: 0 20px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.nav li a:hover, .nav li a.active {
  color: var(--primary);
}

/*Search*/
.search-container{
  position: relative;
  width: 15%;
  max-height: 30px;
}

/*signin*/
.signin button {
  width: 100px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 30px;
  color: var(--primary);
  backdrop-filter: blur(10px);
}

.signin button:hover {
  background-color: rgb(108, 71, 1);
}


/* .header .signin .signinbutton button {
  width: 100px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 30px;
  color: var(--primary);
  backdrop-filter: blur(10px);
}

.header .signin .signinbutton button:hover {
  background-color: rgb(108, 71, 1);
}
  */

.header .signin .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff; /* Optional: add a white border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: add a slight shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}




.header .signin .avatar:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */

/* Header.css */
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.signin {
  display: flex;
  align-items: center;
}

.signin button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.signin button img.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff; /* Optional: add a white border */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Optional: add a slight shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.signin button:hover img.avatar {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.signin button.signin-btn {
  width: 100px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
  color: var(--primary);
  backdrop-filter: blur(10px);
}

.signin button.signin-btn:hover {
  background-color: rgb(108, 71, 1);
  color: #fff; /* Change text color on hover */
}
