.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  padding: 20px;
}

.movie {
  width: 23%; 
  margin-bottom: 20px;
}

.movie img {
  width: 100%; 
  height: 85%; 
}

.movie-release-date {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: aliceblue;
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: aliceblue;
}

.pagination-container {
    display: flex;
    justify-content: center;
}
