.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  padding: 20px;
}

.movie {
  width: 23%; 
  margin-bottom: 20px;
}

.movie img {
  width: 100%; 
  height: auto; 
}

.movie-release-date {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: aliceblue;
}

.popular .add-watchlist{
  width: 10rem;
  background-color: var(--white);
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  color: aliceblue;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.edit-button {
  position: absolute;
  width: 10%;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.edit-button img {
  width: 20px;
  height: 20px;
}

.edit-button:hover img {
  filter: brightness(150%);
  transform: scale(1.2);
}

