.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.page-link {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #FFD700;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
}

.page-link.active {
    font-weight: bold;
    border: 2px solid #000;
}

.page-link:hover {
    background-color: #FFC107;
}
