.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.not-found-image {
  max-width: 100%;
  width: 50%;
  background-color: black;
  height: auto;
}

.home-link {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: yellow;
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

.home-link:hover {
  background-color: #f1c40f;
}
