.container-login{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    background: #fff;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 40%;
}

.header-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(155, 101, 1);
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: rgb(155, 101, 1);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input{
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 100%;
    background: #eaeaea;
    border-radius: 6px;
}

.input img{
    margin: 0px 30px;
    height: 30px;
    width: 30px;
    gap: 15px
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #313131;
    font-size: 19px;
}

.forgot-password{
    padding-left: 90px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: rgb(155, 101, 1);
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 40px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150%;
    color: #fff;
    background: rgb(155, 101, 1);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 40px;
    color: #797979;
    background: #fff;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

