@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&famaily=Roboto:wght@100;300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --primary: #f3a712;
}

body{
  background: #000;
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}