.results-search{
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, .7);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px var(--primary);
    margin-top: 1rem;
    border-radius: 20px;
    max-height: 250px;
    overflow-y: auto;
}

.result-item{
    padding: 10px 20px;
    text-shadow: none;
    color: #000;
}

.result-item:hover{
    cursor: pointer;
    background-color: var(--lowgray);
    border-radius: 10px;
}

.results-search .no-movie-found{
    width: 100%;
    height: 50px;
    align-content: center;
    padding: 3%;
    text-shadow: none;
    font-style: italic;
}