.search {
    position: relative;
    width: 100%;
    height: 30px;
  }

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    backdrop-filter: blur(20px);
    outline: none;
    color: var(--primary);
}

.search input::placeholder{
    color: var(--primary);
}
  
.search ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(90% - 10px);
    color: var(--primary);
}