.search-page {
    position: relative;
    padding: 5%;
    margin-top: 2rem;
}

.search-page .genre-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.search-page .genre-tags button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    cursor: pointer;
}

.search-page .genre-tags button.selected {
    background-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
    color: white;
}

.search-page .movie-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.search-page .movie {
    width: 15%;   
}

.search-page .movie img {
    width: 90%;
    height: 75%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform .5s;
}
.search-page .movie:hover img {
    transform: scale(1.07);
}

.search-page .movie h3 {
    color: white;
    font-size: 16px;
    margin: 10px 0 5px;
}

.search-page .movie p {
    font-size: 14px;
    color: #555;
}
