.search-page {
    position: relative;
    padding: 5%;
    margin-top: 2rem;
}

.search-page .search-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.search-page .search-header-container .search-icon{
    margin-right: 2%;
    width: 3.5%;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--primary);
    transition: transform .3s;
}
.search-page .search-header-container .search-icon:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--primary);
}

.search-page .genre-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1%;
    width: 85%;
    border: 2px solid var(--primary);
    border-radius: 20px;
}

.search-page .genre-tags button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    cursor: pointer;
}
.search-page .genre-tags button:hover {
    box-shadow: 0 0 8px white;
}

.search-page .genre-tags button.selected {
    background-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
    color: white;
}

.search-page .movie-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.search-page .movie {
    width: 15%;   
}

.search-page .movie img {
    width: 90%;
    height: 75%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform .5s;
}
.search-page .movie:hover img {
    transform: scale(1.07);
}

.search-page .movie h3 {
    color: white;
    font-size: 16px;
    margin: 10px 0 5px;
}

.search-page .movie p {
    font-size: 14px;
    color: #555;
}
