.movie-banner {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.movie-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.movie-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #000, rgba(0, 0 , 0, 0));
}

.movie-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;
}

.movie-content__poster {
    flex: 1;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .movie-content__poster {
        display: none;
    }
}

.movie-content__poster__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding-top: 165%;
}

.movie-content__info {
    width: 70%;
    padding-left: 2rem;
    position: relative
}

@media (max-width: 768px) {
    .movie-content__info {
        width: 100%;
        padding-left: 0;
    }
}

.moive-content__info > * {
    margin-bottom: 2rem;

}

.movie-content__info .title {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.movie-content__info .genres > * ~ * {
    margin-left: .5rem;
}

.movie-content__info .genres__item {
    padding: .5rem 1.5rem;
    border: 2px solid var(--primary);
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: var(--primary);
}

.movie-content__info .genres__item:hover {
    background-color: transparent;
    color: var(--primary);
}

.movie-content__info .overview {
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
    margin-top: 1rem;
}




/* .cast {
  margin-top: 20px;
}

.section_header h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 5px;

}

.cast-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cast-item {
  width: 18%;
  margin-bottom: 10px;
  text-align: center;
}

.cast-item__img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
} */



/* Movie.css
.movie-banner {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.movie-content__poster {
  flex: 1;
}

.movie-content__poster__img {
  width: 100%;
  padding-top: 150%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.movie-content__info {
  flex: 2;
  margin-left: 20px;
}


.genres {
  margin-top: 10px;
}


.overview {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.5;
} */


.title {
  font-size: 2rem;
  font-weight: bold;
}

.section_header {
  margin-bottom: 10px;
}

.cast {
  margin-top: 20px;
  color: #fff;
}


.cast-list {
  display: flex;
  flex-wrap: wrap;
}

.cast-item {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  margin: 10px;
}

.cast-item__img {
  width: 50px;
  height: 75px; /* Ratio of the image */
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-right: 10px;
}

.cast-item__info {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.cast-item__name {
  font-weight: bold;
}

.cast-item__character {
  color: #777;
  display: flex;
}

.director {
  margin-top: 20px;
  color: #fff;
}


.director-list {
  display: flex;
  flex-wrap: wrap;
}

.director-item {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
  margin: 10px;
}

.director-item__img {
  width: 50px;
  height: 75px; /* 3:2 aspect ratio */
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-right: 10px;
}

.director-item__info {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.director-item__name {
  font-weight: bold;
}

.director-item__character {
  color: #777;
  display: flex;
}
