.movie-banner {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.movie-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.movie-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #000, rgba(0, 0 , 0, 0));
}

.movie-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    position: relative;
    padding: 0 2rem;
}

.movie-content__poster {
    flex: 1;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    .movie-content__poster {
        display: none;
    }
}

.movie-content__poster__img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding-top: 165%;
}

.movie-content__info {
    width: 70%;
    padding-left: 2rem;
    position: relative
}

@media (max-width: 768px) {
    .movie-content__info {
        width: 100%;
        padding-left: 0;
    }
}

.moive-content__info > * {
    margin-bottom: 2rem;

}

.movie-content__info .title {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.movie-content__info .genres > * ~ * {
    margin-left: .5rem;
}

.movie-content__info .genres__item {
    padding: .5rem 1.5rem;
    border: 2px solid var(--primary);
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: var(--primary);
}

.movie-content__info .genres__item:hover {
    background-color: transparent;
    color: var(--primary);
}

.movie-content__info .overview {
    font-size: 1rem;
    color: #fff;
    line-height: 2;
    margin-top: 1rem;
    text-align: justify;
}

.movie-content__info .about-cast-container {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
}

.movie-content__info .about-cast-container .cast-wrapper {
    display: flex;
    align-self: center;
    flex-direction: column;
    min-width: 60%;
}

.movie-content__info .cast-wrapper .about-cast {
    align-self: center;
    width: 20%;
    border-top: 2px solid var(--primary);
    text-align: center;
    color: var(--white);
    font-size: 120%;
    padding: 10px;
}

.movie-content__info .cast .cast-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    background-color: var(--lowgray);
    border-radius: 50px 50px 0 0;
}

.cast-container::-webkit-scrollbar {
    height: 10px;
}

.cast-container::-webkit-scrollbar-track {
    background: #535353;
    border-radius: 10px;
}
  
.cast-container::-webkit-scrollbar-thumb {
    background: #fefefe;
    border-radius: 10px;
}

.cast-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.movie-content__info .about-cast-container .direct-wrapper {
    display: flex;
    align-self: center;
    flex-direction: column;
    max-width: 35%;
}

.movie-content__info .direct-wrapper .about-direct {
    align-self: center;
    max-width: 150px;
    border-top: 2px solid var(--primary);
    text-align: center;
    color: var(--white);
    font-size: 120%;
    padding: 10px;
}

.movie-content__info .cast .direct-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    background-color: var(--lowgray);
    border-radius: 50px 50px 0 0;
}

.direct-container::-webkit-scrollbar {
    height: 10px;
}

.direct-container::-webkit-scrollbar-track {
    background: #535353;
    border-radius: 10px;
}
  
.direct-container::-webkit-scrollbar-thumb {
    background: #fefefe;
    border-radius: 10px;
}

.direct-container::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
}

.movie-content__info .cast .cast-item {
    width: 5rem;
    margin: 10px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
}

.movie-content__info .cast .cast-image {
    width: 100%;
    height: 5rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.movie-content__info .cast .cast-image:hover {
    box-shadow: 0 0 10px var(--primary), 0 0 10px var(--primary);
}

.movie-content__info .cast .cast-name {
    color: var(--primary);
    margin-top: 8px;
    text-align: center;
    max-height: 40px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.cast-detail{
    display: flex;
    position: fixed;
    background-color: var(--white);
    z-index: 1101;
    width: 26rem;
    height: 13rem;
    border-radius: 20px;
    border: 2px solid var(--lowgray);
    cursor: default;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 1);
}

.cast-detail .avatar {
    position: absolute;
    align-items: flex-start;
    top: 2%;
    left: 1%;
    width: 35%;
    height: 96%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    background-color: transparent;
}
.cast-detail .info-container {
    position: absolute; 
    top: 5%;
    width: 65%;
    right: 0%;
    align-items: center;
}

.cast-detail .info-container .name{
    padding: 0 1rem;
    font-size: 150%;
    text-align: center;
    color: rgb(190, 123, 0);
}

.cast-detail .info-container .other-container{
    padding-top: 5%;
    flex-direction: column;
}

.cast-detail .info-container .other-container .dob{
    font-size: 120%;
    text-align: center;
    color: rgb(190, 123, 0);
}

.cast-detail .info-container .other-container .icon img{
    padding-top: 5%;
    width: 10%;
    color: var(--primary);
}

.cast-detail .info-container .other-container .job{
    padding-top: 5%;
    font-size: 120%;
    text-align: center;
    color: rgb(190, 123, 0);
}

.movie-content__poster .add-watchlist {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.movie-content__poster .add-watchlist img{
    width: 150%;
}

.add-watchlist:hover img {
    transition: .5s;
    filter: brightness(120%);
    transform: scale(1.2);
}

.movie-content__poster .watchlist-added {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.movie-content__poster .watchlist-added img {
    width: 150%;
}

.watchlist-added:hover img {
    transition: .5s;
    filter: brightness(70%);
    transform: scale(1.2);
}